[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.12.0"
tensorflow-model-optimization = "==0.7.5"
pandas = "==2.0.2"
matplotlib = "==3.7.1"

[dev-packages]
ipykernel = "==6.23.2"
ruff = "==0.0.272"
mypy = "==1.3.0"
black = "==23.3.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.8"
